<app-map></app-map>
<div class="container controls">
  <h4>Controls</h4>
  <p>
    Click to zoom
  </p>

  <h4>Credits</h4>
  <p>
    Code adapted from various examples: <br/>
     <a href="https://bl.ocks.org/mbostock">Mike Bostock's</a> <a href="https://bl.ocks.org/mbostock/3306362">Threshold Choropleth</a><br/>
     <a href="https://bl.ocks.org/mbostock">Mike Bostock's</a> <a href="https://bl.ocks.org/mbostock/4573883">Threshold Key</a><br/>
     Leaflet's <a href="http://leafletjs.com/examples/choropleth/">Interactive Choropleth Map</a>
  </p>

  <h4>Data sources</h4>

  <p>
    The geographic mapping comes from the simplified version of OpenStreetMap's delimiting of french cities as of January 1st 2015. This mapping is available <a href="https://www.data.gouv.fr/fr/datasets/decoupage-administratif-communal-francais-issu-d-openstreetmap/">here</a>. This mapping was simplified using <a href="http://mapshaper.org/">MapShaper</a> to reduce the size of the geoJSON file.
  </p>
  <p>
    The unemployment rate values come from <a href="http://www.insee.fr/fr/themes/detail.asp?reg_id=99&ref_id=base-cc-resume-stat">INSEE's 2013 census information</a>.
  </p>

  <h4>Source</h4>
  <p>
    <a href="https://github.com/jonasrenault/france">Github</a>
  </p>

</div>
